.contact-bar {
    align-items: center;
    position: fixed; 
    top: 50%; 
    right: -200px; 
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column; 
    background-color: #383838; 
    padding: 10px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    z-index: 9999; 
    transition: right 0.1s ease; 
}

.contact-bar.open {
    right: 0; 
}

.contact-bar.closed {
    right: -200px; 
}

.contact-bar.visible {
    right: 0; 
}

.contact-bar a {
    margin: 10px 0; 
    color: #fff;
    text-decoration: none;
    font-size: 2rem; 
    transition: color 0.5s ease, transform 0.3s ease;
}

.contact-bar a:hover {
    transform: scale(1.2); 
}



.whatsapp:hover {
    color: #25D366; 
}

.facebook:hover {
    color: #0965fc;
}

.github:hover {
    color: #f3d912; 
}

.instagram:hover {
    background: linear-gradient(45deg, #FDC830, #f335a4); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.linkedin:hover {
    color: rgb(10,102,194); 
}

.download:hover {
    color: #FF0000; 
}

.contact-bar i {
    display: block; 
}
.contact-bar i {
    display: block; 
}

.toggle-button {
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: #383838; 
    color: #fff;
    border: none;
    border-radius: 10px 0 0 10px;;
    width: 30px; 
    height: 40px;
    cursor: pointer;
    transition: right 0.1s ease;
    z-index: 10000;
}
