/* Header.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem 2rem; /* Añadir padding lateral para mayor espacio */
    position: sticky; /* Permite que la barra se quede fija al hacer scroll */
    top: 0; /* Se posiciona en la parte superior */
    width: 100%; /* Asegura que abarque todo el ancho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para un efecto más visible */
}

.navbar-brand h1 {
    margin: 0;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 2rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ff6347; /* Cambia a un color diferente al hacer hover */
}
