.ContainerTopBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: auto;
}

.ImageContainerTopBar {
    position: relative;
    width: 1.4rem;
    height: 1rem;
    margin: .7rem;
    margin-right: 1.2rem;
    display: flex;           
    align-items: center;      
    justify-content: center;  
  }

.FlagImgSizerTopBar {
    position: absolute;
    width: 2.5rem;
    height: auto;
    margin: 1rem;
    border: 3px solid rgb(83, 77, 85); 
    border-radius: 100%;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

@media(max-width: 1650px){
    .FlagImgSizerTopBar{
        width: 2.3rem;
    }
    .ImageContainerTopBar{
        margin: .9rem;
    }

    .ImageContainerTopBar {

    }
}

@media(max-width: 1400px){
    .FlagImgSizerTopBar{
        width: 2.1rem;
    }
    
    .ImageContainerTopBar{
        margin: .8rem;
    }

    .ImageContainerTopBar {
        margin-right: .8rem;
    }
}

@media(max-width: 1280px){
    .FlagImgSizerTopBar{
        width: 1.5rem;
    }

    .ImageContainerTopBar{
        margin: .1rem;
    }

    .ImageContainerTopBar {
        margin-right: .45rem;
    }
}

.FlagImgSizerTopBar:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
    z-index: 1;
}

.FlagSelectedTopBar {
    box-shadow: 0 0 20px rgba(32, 218, 224, 0.8); 
    z-index: 1;
}

.CenteredTextTopBar {
    position: absolute;
    font-size: 7.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0);
    z-index: 1;
    pointer-events: none;
    transition: color 0.6s ease, transform 0.6s ease;
    padding-bottom: 8%;
  }

  .ImageContainerTopBar:hover .CenteredTextTopBar {
    font-size: 7.5rem;
    color: rgba(0, 0, 0, 0.8);  
    padding-bottom: 8%;
}

.ImageContainerTopBar .CenteredTextTopBar {
    color: rgba(0, 0, 0, 0);  
    font-size: 7.5rem; 
    transition: color 0.6s ease, transform 0.6s ease; 
    padding-bottom: 8%;
}

@media(max-width: 950px){
    .ImageContainerTopBar {
        position: relative;
        width: 4rem;
        height: 4rem;
        margin: 0;

      }

    .FlagImgSizerTopBar {
        width: 3rem;
        height: auto;
        margin: 0;
    }    

    .ImageContainerTopBar .CenteredTextTopBar {
        color: rgba(0, 0, 0, 0);  
        font-size: 5rem; 
        transition: color 0.6s ease, transform 0.6s ease; 
        padding-bottom: 8%;
    }

    .ImageContainerTopBar:hover .CenteredTextTopBar {
        font-size: 5rem;
        color: rgba(0, 0, 0, 0.8);  
        padding-bottom: 8%;
    }

}
